@import "tailwindcss";

/* ===== Scrollbar (Chrome, Edge, Safari) ===== */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;

}

::-webkit-scrollbar-track {
    background: #27272a;
    /* zinc-800 */
}

::-webkit-scrollbar-thumb {
    background-color: #52525b;
    /* zinc-600 */
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #71717a;
    /* zinc-500 */
}

/* ===== Firefox ===== */
* {
    scrollbar-width: thin;
    scrollbar-color: #52525b #27272a;
}